* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

:root {
  --background-image-light: url("./images/clouds.jpg");
  --text-color-light: #000000;
  --background-image-dark: url("./images/dark.jpg");
  --text-color-dark: #ffffff;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: var(--background-image-dark);
  background-size: cover;
  color: var(--text-color-dark);
}

.dark-mode {
  background-image: var(--background-image-dark);
  color: var(--text-color-dark);
}

/*Content*/
.content {
  display: flex;
}

/*Left Content*/
.left-content {
  height: 100vh;
  width: 80%;
  border: 1px solid white;
}
/*Right Content*/

.right-content {
  width: 20%;
  border: 1px solid white;
}
